body {
  font-family: 'Josefin Sans', 'Reem Kufi', sans-serif; }

.scroll-hide-menu {
  top: -100px;
  transition: top 0.8s; }

.scroll-show-menu {
  padding: 10px 0 10px 0;
  background-color: #c49e85;
  transition: padding 0.8s, top 0.8s;
  -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3); }
  .scroll-show-menu .menu .menu-item a,
  .scroll-show-menu .logo h3 {
    color: #14110f;
    font-weight: 800; }

header {
  padding: 20px 0 20px 0;
  background-color: rgba(20, 17, 15, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.8s; }
  header .logo h3 {
    margin: 0;
    line-height: 1.7;
    font-family: 'Josefin Sans', 'Reem Kufi', sans-serif;
    color: #f1e3d3; }
  header .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end; }
    header .menu .menu-item {
      display: inline-block;
      margin-left: 30px;
      line-height: 2.8; }
      header .menu .menu-item a {
        color: #f1e3d3;
        font-weight: 700;
        font-family: 'Josefin Sans', 'Reem Kufi', sans-serif;
        letter-spacing: 2px; }

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 80px 0;
  height: 100%; }

.title-block {
  text-align: center;
  padding-bottom: 70px;
  color: #f1e3d3; }

.home {
  background: url(../images/bg/bg-img-1.jpg) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
  color: #f1e3d3; }
  .home .content-cell {
    margin-left: 14vw;
    font-family: 'Josefin Sans', 'Reem Kufi', sans-serif;
    padding: 20vh 0; }
    .home .content-cell h1 {
      margin: 20px 0 20px 0;
      text-transform: uppercase; }
    .home .content-cell h3 span {
      text-decoration: underline;
      text-decoration-color: #c49e85; }
  .home a.btn {
    color: #f1e3d3;
    margin-top: 30px;
    background-color: #c49e85;
    padding: 8px 20px 8px 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', 'Reem Kufi', sans-serif;
    letter-spacing: 2px; }

.dark-brown-bg, .about, .services, .portfolio, .testimonials, .get-in-touch {
  padding: 80px 0;
  background-color: #14110f;
  color: #f1e3d3; }

.about-me-box {
  display: flex;
  justify-content: space-between; }
  .about-me-box .avatar {
    position: relative;
    margin-right: 50px; }
    .about-me-box .avatar img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      margin-left: 30px;
      position: relative; }
  .about-me-box .avatar::before {
    content: " ";
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c49e85 100%, #fff 100%);
    border-radius: 30px; }
  .about-me-box .personal-info {
    position: relative;
    border: 3px solid #34312d;
    padding: 33px 20px;
    margin-top: 30px;
    margin-right: 20px; }
    .about-me-box .personal-info ul {
      width: 100%; }
      .about-me-box .personal-info ul li {
        display: block;
        line-height: 2.5; }

.skills {
  background: url(../images/bg/bg-img-2.jpg) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 9; }
  .skills .progress-container {
    margin: 100px 0;
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #34312d; }
    .skills .progress-container h3 {
      padding-top: 10px;
      color: rgba(241, 227, 211, 0.8);
      font-size: 20px; }
    .skills .progress-container .progress {
      display: block;
      height: 5px;
      background-color: #c49e85;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0; }
    .skills .progress-container .percent {
      position: absolute;
      top: -30px;
      left: 0;
      display: block;
      color: #c49e85;
      background-color: #34312d;
      line-height: 20px;
      font-size: 14px;
      width: 30px;
      height: 20px;
      border-radius: 2px;
      text-align: center; }
    .skills .progress-container .percent::before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: #34312d transparent transparent;
      display: block; }

.services .service-item {
  margin: 50px 0;
  border-left: 2px solid #14110f;
  border-bottom: 2px solid #14110f;
  padding: 40px 25px 40px 20px;
  background-color: rgba(52, 49, 45, 0.05);
  -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  position: relative; }
  .services .service-item h4 {
    margin-bottom: 30px;
    color: rgba(241, 227, 211, 0.8); }
  .services .service-item p {
    color: rgba(241, 227, 211, 0.7); }

.services .service-icon {
  width: 50px;
  height: 50px;
  border: 2px solid #14110f;
  text-align: center;
  line-height: 45px;
  background-color: rgba(196, 158, 133, 0.1);
  position: absolute;
  top: 30px;
  right: 25px;
  transform: rotateZ(45deg); }
  .services .service-icon .service-icon-inner {
    position: relative;
    transform: rotateZ(-45deg);
    width: 100%;
    height: 100%; }
    .services .service-icon .service-icon-inner i {
      /*position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                */
      font-size: 20px;
      color: rgba(196, 158, 133, 0.8); }

.resume {
  background-color: #34312d;
  padding: 80px 0;
  color: rgba(241, 227, 211, 0.9);
  text-align: center; }
  .resume .resume-title {
    padding-bottom: 10px; }
    .resume .resume-title i {
      display: inline-block;
      margin: 0 15px 0 -13px;
      font-size: 25px; }
    .resume .resume-title h3 {
      display: inline-block; }
  .resume .resume-content {
    position: relative;
    padding: 5px 0 5px 20px; }
    .resume .resume-content .resume-item {
      margin: 30px 0; }
    .resume .resume-content .resume-year {
      background-color: rgba(52, 49, 45, 0.1);
      border: 2px solid rgba(52, 49, 45, 0.4);
      width: fit-content;
      padding: 3px 20px;
      border-radius: 3px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3); }
    .resume .resume-content .resume-details {
      background-color: rgba(52, 49, 45, 0.1);
      border: 2px solid rgba(52, 49, 45, 0.4);
      padding: 30px 20px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      position: relative; }
      .resume .resume-content .resume-details p {
        border-top: 1px solid rgba(52, 49, 45, 0.3);
        padding-top: 15px;
        margin-top: 20px;
        color: rgba(241, 227, 211, 0.6); }
      .resume .resume-content .resume-details i {
        position: absolute;
        right: 20px;
        font-size: 25px; }
      .resume .resume-content .resume-details h4 {
        font-size: 16px;
        font-weight: 600; }
  .resume .resume-content::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    height: 100%;
    width: 4px;
    background-color: #34312d; }
  .resume .download {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid rgba(52, 49, 45, 0.3);
    border-radius: 3px;
    background-color: rgba(52, 49, 45, 0.1);
    color: rgba(241, 227, 211, 0.6);
    margin-top: 80px; }

.portfolio .filter {
  display: flex;
  justify-content: center; }
  .portfolio .filter .filter-item {
    padding: 8px 15px;
    background-color: rgba(241, 227, 211, 0.1);
    border-top: 3px solid rgba(241, 227, 211, 0.3);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 20px;
    font-weight: 600; }
  .portfolio .filter .active {
    border-top: 3px solid rgba(241, 227, 211, 0.9); }

.portfolio .portfolio-item {
  position: relative;
  overflow: hidden; }
  .portfolio .portfolio-item img {
    width: 100%;
    height: 100%;
    margin: 30px 0; }
  .portfolio .portfolio-item .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(20, 17, 15, 0.5);
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: linear 0.5s;
    opacity: 0; }
    .portfolio .portfolio-item .hover-content h4 {
      position: absolute;
      top: 50px;
      left: 50%;
      width: 150px;
      transform: translateX(-50%);
      font-size: 20px;
      transition: linear 1s; }
    .portfolio .portfolio-item .hover-content a {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      width: 40px;
      height: 40px;
      background-color: #14110f;
      color: rgba(241, 227, 211, 0.8);
      text-align: center;
      transition: linear 1s; }
      .portfolio .portfolio-item .hover-content a i {
        font-size: 15px;
        line-height: 2.5; }
    .portfolio .portfolio-item .hover-content span {
      display: block;
      position: absolute;
      bottom: 40px;
      right: 20px;
      font-weight: 600;
      padding: 3px 0;
      text-align: center;
      width: 100px;
      background-color: #14110f;
      border-bottom: 3px solid rgba(241, 227, 211, 0.2);
      border-right: 3px solid rgba(241, 227, 211, 0.2);
      -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
      transition: linear 1s; }

.portfolio .portfolio-item:hover .hover-content {
  overflow: visible;
  width: 100%;
  opacity: 1;
  right: 0; }

.facts {
  background: url(../images/bg/bg-img-3.jpg) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 9; }
  .facts .facts-item span {
    display: block;
    font-size: 40px;
    color: rgba(241, 227, 211, 0.7);
    width: 200px;
    text-align: center; }
  .facts .facts-item a {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(20, 17, 15, 0.5);
    color: rgba(241, 227, 211, 0.7);
    display: block; }

.testimonials .review-item {
  border-right: 3px solid rgba(241, 227, 211, 0.3);
  border-left: 3px solid rgba(241, 227, 211, 0.3);
  position: relative;
  padding: 30px 30px;
  -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3); }
  .testimonials .review-item .client-info {
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(241, 227, 211, 0.3); }
  .testimonials .review-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px; }
  .testimonials .review-item .client-name {
    padding-top: 20px; }
  .testimonials .review-item .client-comment {
    padding: 30px 10px 0 20px;
    font-size: 14px; }
  .testimonials .review-item .quotes, .testimonials .review-item .left-quotes, .testimonials .review-item .right-quotes {
    display: block;
    width: 25px;
    height: 25px;
    background-color: rgba(241, 227, 211, 0.3);
    color: rgba(241, 227, 211, 0.8);
    font-size: 11px;
    text-align: center;
    line-height: 2.1; }
  .testimonials .review-item .quotes-lines, .testimonials .review-item .left-quotes::before, .testimonials .review-item .right-quotes::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: rgba(241, 227, 211, 0.3);
    top: 50%;
    transform: translateY(-50%); }
  .testimonials .review-item .left-quotes {
    position: absolute;
    top: 185px;
    left: 15px; }
  .testimonials .review-item .left-quotes::before {
    left: -15px; }
  .testimonials .review-item .right-quotes {
    position: absolute;
    top: 278px;
    right: 15px; }
  .testimonials .review-item .right-quotes::before {
    right: -15px; }

.blog {
  background-color: #34312d;
  padding: 80px 0;
  color: rgba(241, 227, 211, 0.6); }
  .blog .blog-card {
    -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #34312d;
    border-right: 2px solid #34312d;
    background-color: rgba(20, 17, 15, 0.3); }
    .blog .blog-card img {
      width: 100%;
      display: block;
      height: auto; }
    .blog .blog-card .article {
      padding: 20px 15px; }
    .blog .blog-card .title-desc {
      padding-bottom: 10px;
      border-bottom: 2px solid #34312d;
      font-size: 12px; }
    .blog .blog-card .blog-article {
      max-height: 150px;
      overflow: hidden;
      padding: 10px 0;
      font-size: 14px; }
    .blog .blog-card h4 {
      font-size: 16px;
      color: rgba(241, 227, 211, 0.9); }
    .blog .blog-card .date, .blog .blog-card .coment {
      display: inline-block; }
    .blog .blog-card .blog-footer {
      background-color: #14110f;
      padding: 20px 15px;
      display: flex;
      justify-content: space-between; }
      .blog .blog-card .blog-footer .read-more {
        color: rgba(241, 227, 211, 0.9);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        margin-top: 11px; }
        .blog .blog-card .blog-footer .read-more i {
          margin-left: 5px; }
      .blog .blog-card .blog-footer span {
        display: inline-block;
        position: relative;
        padding: 7px 15px;
        background-color: rgba(52, 49, 45, 0.3);
        border-radius: 5px;
        border-bottom: 2px solid #34312d;
        border-right: 2px solid #34312d;
        font-size: 14px; }
        .blog .blog-card .blog-footer span a {
          color: rgba(241, 227, 211, 0.9); }
      .blog .blog-card .blog-footer span::before {
        content: " ";
        display: block;
        position: absolute;
        height: 2px;
        width: 15px;
        background-color: #34312d;
        top: 50%;
        transform: translateY(-50%);
        right: -17px; }

.get-in-touch .get-in-touch--item {
  position: relative;
  padding: 25px 15px;
  background-color: rgba(52, 49, 45, 0.2);
  -webkit-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 27px 8px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(52, 49, 45, 0.3);
  border-right: 2px solid rgba(52, 49, 45, 0.3); }
  .get-in-touch .get-in-touch--item span {
    display: inline-block;
    position: relative;
    padding: 7px 15px;
    background-color: rgba(52, 49, 45, 0.3);
    border-radius: 5px;
    border-bottom: 2px solid #34312d;
    border-right: 2px solid #34312d;
    font-size: 14px;
    color: #f1e3d3; }
  .get-in-touch .get-in-touch--item span::before {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: #34312d;
    top: 50%;
    transform: translateY(-50%);
    left: -15px; }
  .get-in-touch .get-in-touch--item p {
    font-size: 16px;
    margin-top: 10px;
    color: #f1e3d3;
    margin-bottom: 0; }
  .get-in-touch .get-in-touch--item i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: rgba(196, 158, 133, 0.5);
    font-size: 30px; }

footer {
  background-color: #34312d;
  padding: 80px 0;
  color: rgba(241, 227, 211, 0.6);
  text-align: center; }
  footer i {
    margin: 0 30px; }
  footer p {
    margin-top: 25px;
    margin-bottom: 0; }
